version: '2'
services:
  db:
    image: postgres:15
    user: root
    environment:
      - POSTGRES_USER=b2RvbzE2
      - POSTGRES_PASSWORD=b2RvbzE2cml6a2lkZXN1
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    restart: always
    volumes:
        - ./postgresql:/var/lib/postgresql/data
  odoo16:
    image: odoo:16
    user: root
    depends_on:
      - db
    ports:
      - "8069:8069"
      - "8072:8072" # live chat
    tty: true
    command: --dev xml,reload         # Remove for production   
    environment:
      - HOST=db
      - USER=b2RvbzE2
      - PASSWORD=b2RvbzE2cml6a2lkZXN1
    volumes:
      #- /etc/timezone:/etc/timezone:ro
      #- /etc/localtime:/etc/localtime:ro
      # - ./entrypoint.sh:/entrypoint.sh 
      - ./custom_addons:/mnt/extra-addons
      - ./etc:/etc/odoo
    restart: always
    